html {
  scroll-behavior: smooth;
}

body {
  scroll-padding: 3rem 0 0 0;
}

h1, h2 {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.resp-img {
  max-width: 80vw;
  height: auto;
}

.work-card {
  width: 19rem;
  max-width: 100%;
}

.work-card > .card-image-top {
  border-bottom: 1px solid #00000033;
  max-width: 100%;
  height: auto;
}

.work-card .badge:not(:last-child) {
  margin-right: 0.25rem
}

.about-list {
  text-align: center;
}

.about-btn {
  display: flex;
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  border: 0.125rem black solid;
  border-radius: 50%;
  color: inherit;
}

.about-btn:focus, .about-btn:hover {
  background-color: #000;
  color: #fff;
  outline: none;
}

.contact-form {
  max-width: 25rem;
}
